/* Common Css Start */

*{
    margin:0;
    padding:0;
    outline:0;
}

a{
    text-decoration: none;
    display: inline-block;
}

ol, ul{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding:0;
    line-height: 0.8px;
}
.container{
    width:1200px;
    margin:0 auto;
}

/* Common Css End */

#navbarPart{
    padding:20px 0px;
    position:fixed;
    width:100%;
    top:0;
    left:0;

}

.navflex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width:234px;
    height:60px;
}

.menu ul li{
    display:inline-block;
    padding-right:20px;
}

.menu ul li a{
    font-family: "Raleway", serif;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
}

/* Banner Part Css Start */
#bannerPart{
    background:#310471;
    padding-top:140px;
}

.bannerFlex{
    display: flex;
}

.bannerText{
    padding-top:120px;
    font-family: "Raleway", serif;
    color:#fff;
}

.bannerText h4{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
}

.bannerText h1{
    font-size:58.7px;
    font-weight: 700;
    line-height: 67px;
    padding:20px 0px;
}

.bannerText h1 span{
    font-size:58.7px;
    font-weight: 400;
    line-height: 67px;
}

.bannerText p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-right:60px;
    padding-bottom: 24px;
}

/* Banner Part Css Start */
/* La Agencia Part css Start */
#agenciaOne{
    padding:100px 0px;
}

.agenciaFlex{
    display:flex;
    justify-content: space-between;
}

.agenciaText{
    font-family: "Raleway", serif;
    color:#30006C;
    margin-right:30px;
    margin-top:40px;
}

.agenciaText h6{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:15px;
}

.agenciaText h2{
    font-size:50.7px;
    font-weight: 400;
    line-height: 58px;
    padding-bottom: 1dvh;
}
.agenciaText h2 span{
    font-weight: 700;
}

.agenciaText p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
}

.agenciaBlog{
    width:539px;
    margin-left:30px;
}

.agenciaBlog p{
    font-family: "Raleway", serif;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    color:black;
    margin-bottom:24px;
}

.agenciaBlog h6{
    font-family: "Raleway", serif;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    color:black;
    margin-bottom:28px;
}
.agenciaBlog h5{
    font-family: "Raleway", serif;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    color:black;
    margin-bottom:5px;
}

.agenciaBlog h4{
    font-family: "Raleway", serif;
    font-size:16px;
    font-weight: 700;
    line-height: 24px;
    color:#300370;
}

/* La Agencia Part css End */

/* Digital Part css Start */
#digitalPart{
    background:#4D008B;
    padding-top:130px;
}

.digitalTop{
    width:628px;
    font-family: "Raleway", serif;
    color:#fff;
}

.digitalTop h6{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:15px;
}

.digitalTop h2{
    font-size:48px;
    font-weight: 400;
    line-height: 55px;
    width:628px;
    padding-bottom: 10px;
}
.digitalTop h2 span{
    font-weight: 700;
}

.digitalTop p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
}

.digobottomFlex{
    display: flex;
    justify-content: space-between;
}

.digibottomRight{
    padding-left: 26px;
}

.dgbotrighticonFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon1{
    width:166.5px;
}
.icon1 p{
    font-family: "Raleway", serif;
    font-size:18.7px;
    font-weight: 400;
    line-height: 28px;
    color:#F1EFD6;
    width:90px;
    text-align: center;
    padding-left:20px;
    padding-bottom:30px;
}

.rowGap{
    padding-bottom: 20px;
}

/* Digital Part css End */
/* Digital Marketing Part Css Start */

#dmarketingPart{
    padding: 130px 0px 120px 0px;
}

.dmarketingTop{
    width:628px;
    font-family: "Raleway", serif;
}

.dmarketingTop h6{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:12px;
    color:#30006C;
}

.dmarketingTop h2{
    font-size:48px;
    font-weight: 400;
    line-height: 55px;
    color:#30006C;
    width:628px;
    padding-bottom: 10px;
}
.dmarketingTop h2 span{
    font-weight: 700;
    color:#30006C;
}

.dmarketingTop p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    color:#30006C;
    padding-bottom:34px;
}

.dmarBottom{
    height:490px;
}
.dmarFlex{
   display:flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.flexLeft, .flexRight{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Digital Marketing Part Css Start */

/* Experience Part css Start */
#experiencePart{
    background: url(../images/experiencebg.png) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.expOverlay{
    padding:130px 0px 120px 0px;
    background:rgba(0, 0, 0, 0.8);
}

.expTop{
    width:792px;
    font-family: "Raleway", serif;
}

.expTop h6{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:12px;
    color:#F3F1D8;
}

.expTop h2{
    font-size:48px;
    font-weight: 400;
    line-height: 55px;
    color:#F3F1D8;
    padding-bottom: 10px;
}
.expTop h2 span{
    font-weight: 700;
    color:#F3F1D8;
}

.expTop p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    color:#F3F1D8;
    padding-bottom:34px;
}

.expBottom{
    padding-top:44px ;
    padding-left:145px;
    padding-right:145px;
}

.expbotFlex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.exIcon1{
    text-align: center;
}

.expImg1 h2{
   font-family: "Montserrat", serif;
   font-size:53.3px;
   font-weight: 700;
   line-height: 80px;
   color:#F3F1D8;
   padding-bottom: 10px;

}
.expImg1 p{
    width:177px;
    font-family: "Raleway", serif;
    font-size:16px;
    font-weight: 400;
    line-height:24px;
    color:#ffff;
}
/* Experience Part css End*/
/* Client Part Css Start */
#clientPart{
    padding:120px 80px;
}

.clientFlex{
    display: flex;
    justify-content: space-between;
}
.clienttext{
    width:50%;
    font-family: "Raleway", serif;
    color:#30006C;
}

.clienttext h6{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:12px;
}

.clienttext h2{
    font-size:48px;
    font-weight: 400;
    line-height: 55px;
    padding-bottom: 10px;
}
.clienttext h2 span{
    font-weight: 700;
    
}
.clienttext p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:34px;
}
.clienttext h6{
    font-size:16px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom:24px;
}

.clienttext h5{
    font-size:18.7px;
    font-weight: 700;
    line-height: 28px;
}
.clientLogo{
    width:50%;
    padding-top:100px;
}
.clientLogoflex{
    display: flex;
    justify-content: space-between;
}
/* Client Part Css Start */
/* Contact Part Css Start */
#contactPart{
    background: url(../images/contactbg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 54px;
}

.contactflex{
    display: flex;
    justify-content: space-between;
}
.contactLeft{
    width:50%;
}

.contactRight{
    width:50%;
    padding-top:120px;
}

.contactRight{
    width:542px;
    font-family: "Raleway", serif;
}

.contactRight h6{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:12px;
    color:#F3F1D8;
}

.contactRight h2{
    font-size:48px;
    font-weight: 400;
    line-height: 55px;
    color:#F3F1D8;
    padding-bottom: 10px;
}
.contactRight h2 span{
    font-weight: 700;
    color:#F3F1D8;
}

.contactRight p{
    font-size:21.3px;
    font-weight: 400;
    line-height: 32px;
    color:#F3F1D8;
    padding-bottom:20px;
}
.conRightbtn img{
    padding:10px 0px;
    margin-right:5px;
}
/* Contact Part Css Start */

/* Empezado part Css Start */
#empezadoPart{
    padding:80px 0px;
    position:relative;
}

.quotationFlex{
    display: flex;
}
.quotationText{
    margin: 0 auto;
}

.quotationLeft {
    position: absolute;
    top: 36%;
    left: 18%;
}

.quotationText h2{
    font-family: "Raleway", serif;
    font-size:40px;
    font-weight: 700;
    line-height: 40px;
    color:#310471;
}
.quotationText h2 span{
    font-weight: 400;
}
.quotationRight {
    position: absolute;
    top: 35%;
    right: 18%;
}

.quotationBottom p{
    font-family: "Raleway", serif;
    font-size:24px;
    font-weight:400;
    line-height:24px;
    color:#310471;
    text-align: center;

}

/* Empezado part Css End */

#servicePart{
    padding:40px 0px;
    background:#4B0088;
}

.serviceFlex{
    display:flex;
    justify-content: space-between;
}
.serviceLeft, .serviceMiddle, .serviceRight{
    width:30%;
}
.serviceLeft h2, .serviceMiddle h2, .serviceRight h2{
    font-family: "Poppins", serif;
    font-size:24px;
    font-weight:400;
    line-height:36px;
    color:#fff;
    padding-bottom: 22px;
}
.serviceLeft p{
    font-family: "Raleway", serif;
    font-size:14.7px;
    font-weight:400;
    line-height:25px;
    color:#F3F1D8;
    padding-right: 50px;
}

.serviceLeft p span{
    color:#fff;
    font-weight:700;
    font-style: italic;
}

.serviceMiddle p{
    font-family: "Raleway", serif;
    font-size:14.7px;
    font-weight:400;
    line-height:29.3px;
    color:#F3F1D8;
    padding-right:100px;
}

.serviceRight p{
    font-family: "Raleway", serif;
    font-size:14.7px;
    font-weight:400;
    line-height:29.3px;
    color:#F3F1D8;
    padding-bottom:40px;
    padding-right:200px;
}
/* Partner Part Css Start */

#partnerPart{
    padding:20px 0px;
    background:#38227B;
}
.partnerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partnerMiddle img{
    padding-right:20px;
}
.parmiddleFlex{
    display: flex;
    justify-content: space-between;
}

/* Partner Part Css End */
/* Footer Part Css Start */
#footerPart{
    padding:60px 0px;
    background: #22036F;
}
.footerTop{
    text-align: center;
}
.footerLogo img{
   padding-bottom:50px;
}
.footerTop p{
    font-family: "Arial", serif;
    font-size:14.7px;
    font-weight:400;
    line-height:22px;
    color:#fff;
    padding-bottom:20px;
}
.fobottomFlex{
    display: flex;
    justify-content: space-between;
}

.footerBottom p{
    font-family: "Raleway", serif;
    font-size:16px;
    font-weight:400;
    color:#F3F1D8;
    line-height: 20px;
}



/* Footer Part Css End */





